@charset "utf-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica , sans-serif;
	margin: 0px;
	font-weight: 0px;
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #0952FD;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
	
}

header > div {
	margin-right: 25px;
}

footer {
	

}

div#conteudo {
padding: 0px 10px;
	
}

#login {
	width: 250px;
	margin: auto;
	margin-top: 150px;
	
	
	
}

#face{
	background-image: url("http://www.lucaslenci.com.br/imagens_upload/3FUNDO_site.jpg");
	
	
}

.painel {
	ckground-color: red;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
    padding: 10px;	
}